@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .bgGreen1 {
        @apply bg-[#00551E]
    }

    .bgGreen2 {
        @apply bg-[#257341]
    }

    /* Gris claro */
    .bgGray {
        @apply bg-[#d9d9d94d]
    }

    .box {
        -webkit-box-shadow: 2px 2px 10px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 10px -8px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 10px -8px rgba(0, 0, 0, 0.75);
    }

    .box2 {
        -webkit-box-shadow: -2px 0px 22px -14px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 0px 22px -14px rgba(0, 0, 0, 0.75);
        box-shadow: -2px 0px 22px -14px rgba(0, 0, 0, 0.75);
    }

}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}




/* Paleta de Colores

#B0AFAF Gray
#D9D9D9
#222325 black
#00551E green 
#257341 green claro

*/